*~
*.bak
*.org
*.7z
*.rar
*.zip
*.log
*.sql
*.sqlite
*.json
.htaccess
.htpasswd
.Trashes
.DS_Store
.buildpath
.project
.settings
.idea
.env
.sass-cache
*.tmproj
Thumbs.db
desktop.ini
node_modules
bower_components
/vendor
/wp/*
/wp/wp-content/*
/wp/wp-content/themes/*
!/wp/favicon.ico
!/wp/google*.html
!/wp/wp-content
!/wp/wp-content/themes
!/wp/wp-content/themes/vanilla
!package.json