footer.footer
  .wrapper
    .content-footer
      .information-left
        ul.list-content
          li.item.title-footer Information
          li.item
            +link('#', 'About us').link-item-footer.trans
          li.item
            +link('#', 'Online enquiry').link-item-footer.trans
          li.item
            +link('#', 'Call us').link-item-footer.trans
          li.item
            +link('#', 'General enquiries').link-item-footer.trans
          li.item
            +link('#', 'Booking conditions').link-item-footer.trans
          li.item
            +link('#', 'Privacy policy').link-item-footer.trans
          li.item
            +link('#', 'Refund policy').link-item-footer.trans
        ul.list-content
          li.item.title-footer Experiences
          li.item
            +link('#', 'Beach').link-item-footer.trans
          li.item
            +link('#', 'Adventure').link-item-footer.trans
          li.item
            +link('#', 'Wildlife').link-item-footer.trans
          li.item
            +link('#', 'Honeymoon').link-item-footer.trans
          li.item
            +link('#', 'Culture & heritage').link-item-footer.trans
          li.item
            +link('#', 'Nature').link-item-footer.trans
          li.item
            +link('#', 'Spiritual').link-item-footer.trans
          li.item
            +link('#', 'Hill station').link-item-footer.trans
        ul.list-content
          li.item.title-footer Themes
          li.item
            +link('#', 'Party').link-item-footer.trans
          li.item
            +link('#', 'Wedding').link-item-footer.trans
          li.item
            +link('#', 'Group tours').link-item-footer.trans
        ul.list-content.list-content-2col
          li.item.title-footer Popular destinations
          li.item
            +link('#', 'Leh-Ladakh').link-item-footer.trans
          li.item
            +link('#', 'Coorg').link-item-footer.trans
          li.item
            +link('#', 'Manali').link-item-footer.trans
          li.item
            +link('#', 'Mysore').link-item-footer.trans
          li.item
            +link('#', 'Ooty').link-item-footer.trans
          li.item
            +link('#', 'Gir').link-item-footer.trans
          li.item
            +link('#', 'Allepey').link-item-footer.trans
          li.item
            +link('#', 'Kabini').link-item-footer.trans
          li.item
            +link('#', 'Darjeeling').link-item-footer.trans
          li.item
            +link('#', 'Jaipur').link-item-footer.trans
          li.item
            +link('#', 'Goa').link-item-footer.trans
          li.item
            +link('#', 'Kodaikanal').link-item-footer.trans
          li.item
            +link('#', 'Mahabaleshwar').link-item-footer.trans
          li.item
            +link('#', 'Andaman').link-item-footer.trans
          li.item
            +link('#', 'Agra').link-item-footer.trans
          li.item
            +link('#', 'Shimla').link-item-footer.trans

      .information-right
        | Phone: +91-80-41127931<br>
        | Email: info@aztechdesign.co
        p.title-footer.address Address
        | 1st Main, Bucharest<br>
        | 2nd Stage Raiffisen Tower,<br>
        | Bucharest - 400400,<br>
        | Romania