header.header
  .wrapper
    .header-inner
      .header-logo.sm
        a(href=path)
          img(src=path+"img/header_logo.png", alt="private holidays")
      .hambuger-menu.sm
        .line-item.line-item01
        .line-item.line-item02
        .line-item.line-item03
      nav.nav
        .nav-inner.scrollable
          .list-menu.clearfix
            .list-menu-item.menu-left
              .item-menu
                a.btn-nav(href="#").trans
                  span.txt-nav home
              .item-menu
                a.btn-nav(href="#").trans
                  span.txt-nav experiences
            h1.header-logo.md.trans
              a(href=path)
                img(src=path+"img/header_logo.png", alt="private holidays")
            .list-menu-item.menu-right
              .item-menu
                a.btn-nav(href="#").trans
                  span.txt-nav questions
              .item-menu
                a.btn-nav(href="#").trans
                  span.txt-nav contact